<!DOCTYPE html>
<html lang="en">

<head>
    <script data-ad-client="ca-pub-6351481944770696" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABOUT PAGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="about.css">
</head>

<body>

    <header>
        <a href="/" class="logo">MN</a>

        <ul class="navigation">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/feedback">FEEDBACK</a></li>
            <li class="dropdown">
                <a href="/profile">PROFILE</a>
                <div class="dropdown-content">
                    <a href="#"><%= ename %></a>
                    <a href="/profile">profile</a>
                    <a href="/history">history</a>
                    <a href="/logout">sign out</a>
                </div>
            </li>
        </ul>
    </header>

    <section>
        <br><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="me1.jfif">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Sasank</h3>
                            <span class="post">web developer</span>
                        </div>
                        <ul class="social">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-instagram"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="me1.jfif">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Sasank</h3>
                            <span class="post">database</span>
                        </div>
                        <ul class="social">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-instagram"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="me1.jfif">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Sasank</h3>
                            <span class="post">Designer</span>
                        </div>
                        <ul class="social">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-instagram"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="media">
        <ul>
            <li><a href="https://en-gb.facebook.com/login/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://twitter.com/login?lang=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</body>

</html>