<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0e070a32e4.js"></script>
    <link rel="stylesheet" href="logout.css">
    <title>logout</title>
</head>

<body id="particles-js">
    <script src="particles.js"></script>
    <script src="app.js"></script>
    <!-- <script>
        setTimeout(function () {
            window.location.href = 'http://localhost:3000/';
        }, 5000);
    </script> -->
    <div class="h">
        <header>
            <a href="/" class="logo">MN</a>

            <ul class="navigation">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/feedback">FEEDBACK</a></li>
            </ul>
        </header>

        <div class="container">
            <h1>booked sucessfully
                <a href="/">HOME</a></h1>
        </div>

        <div class="media">
            <ul>
                <li><a href="https://en-gb.facebook.com/login/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li><a href="https://www.instagram.com/accounts/login/" target="_blank"><i
                            class="fab fa-twitter"></i></a></li>
                <li><a href="https://twitter.com/login?lang=en" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>